<!-- NOTE WILL BE REPLACED WHEN USER INFO IS INCLUDED -->
<nav class="navbar navbar-default">
    <div class="container">

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">

                <li><a href="/admin"><strong>Admin</strong></a></li>
                <li><a href="/adminUser">Users Online</a></li>
                <li><a href="/adminChats">Current Chats</a></li>
                <li><a href="/adminResources">Update Resources</a></li>
                <li><a href="/adminFaq">Update FAQ</a></li>

            </ul>
        </div>

    </div>
</nav>
<!-- END NOTE -->

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Admin Page</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>Add Resources</h3>
            <form method="post" action="/create_resource" class="button-size">
                <table class="table">

                     <tr>
                         <td>Title:</td>
                         <td><input type="text" class="form-control" name="title"></td>
                     </tr>
                     <tr>
                         <td>Description: </td>
                         <td><textarea class="form-control" rows="3" name="description"></textarea></td>
                     </tr>
                     <tr>
                         <td>Link:</td>
                         <td><input type="text" class="form-control" name="link"></td>
                     </tr>
                     <tr>
                         <td>Facebook:</td>
                         <td><input type="text" class="form-control" name="facebook"></td>
                     </tr>
                     <tr>
                         <td>Twitter:</td>
                         <td><input type="text" class="form-control" name="twitter"></td>
                     </tr>
                     <tr>
                         <td>Other Resource:</td>
                         <td><input type="text" class="form-control" name="other"></td>
                     </tr>
                    <tr>
                        <td>Resource Score:</td>
                        <td><input type="text" class="form-control" name="resourceScore"></td>
                    </tr>
                     <tr>
                         <td></td>
                         <td><button class="btn btn-default" type="submit" >Add Resource</button>
                         </td>
                     </tr>
                 </table>

            </form>

            <!-- "title", "description", "link", "facebook", "twitter", "other", "linksTable"-->
            <h3>Resources</h3>
            <table class="table">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Link</th>
                    <th>Facebook</th>
                    <th>Twitter</th>
                    <th>Other</th>
                    <th>Resource Score</th>
                </tr>
                </thead>
                <tbody>
                {{#each resourceTable}}
                    <tr>
                        <td>{{this.title}}</td>
                        <td>{{this.description}}</td>
                        <td>{{this.link}}</td>
                        <td>{{this.facebook}}</td>
                        <td>{{this.twitter}}</td>
                        <td>{{this.other}}</td>
                        <td>{{this.resourceScore}}</td>
                    </tr>
                {{/each}}
                <tbody>
            </table>
        </div>
    </div>
</div><!--/container -->