<!-- NOTE WILL BE REPLACED WHEN USER INFO IS INCLUDED -->
<nav class="navbar navbar-default">
    <div class="container">

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">

                <li><a href="/admin"><strong>Admin</strong></a></li>
                <li><a href="/adminUser">Users Online</a></li>
                <li><a href="/adminChats">Current Chats</a></li>
                <li><a href="/adminResources">Update Resources</a></li>
                <li><a href="/adminFaq">Update FAQ</a></li>

            </ul>
        </div>

    </div>
</nav>
<!-- END NOTE -->

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Admin Page</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>Current Chats</h3>
            <form method="post" action="/create_chat" class="button-size">
                <table class="table">
                     <tr>
                         <td>Title:</td>
                         <td><input type="text" class="form-control" name="title"></td>
                     </tr>
                     <tr>
                         <td>Moderators:</td>
                         <td><input type="text" class="form-control" name="moderators"></td>
                     </tr>
                     <tr>
                         <td>Moderation Level:</td>
                         <td><input type="text" class="form-control" name="moderation_level"></td>
                     </tr>
                         <td></td>
                         <td><button class="btn btn-default" type="submit" >Add Chat</button>
                         </td>
                     </tr>
                 </table>

            </form>

        </div>
    </div>
    <!--//SELECT `title`, `moderators`, `moderation_level` FROM `chatTable`;-->
    <h3>Chats Currently Open</h3>
    <table class="table">
        <thead>
        <tr>
            <th>Title</th>
            <th>Moderators</th>
            <th>Moderation Level</th>
        </tr>
        </thead>
        <tbody>
        {{#each chatsTable}}
            <tr>
                <td>{{this.title}}</td>
                <td>{{this.moderators}}</td>
                <td>{{this.moderation_level}}</td>
            </tr>
        {{/each}}
        <tbody>
    </table>

    <!-- <h3>FAQ</h3>
    <table class="table">
        <thead>
        <tr>
            <th>Questions</th>
            <th>Answers</th>
        </tr>
        </thead>
        <tbody>
        {{#each faqThis}}
            <tr>
                <td>{{this.questions}}</td>
                <td>{{this.answers}}</td>
            </tr>
        {{/each}}
        <tbody>
    </table>-->




</div><!--/container -->