<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1>{{resource.name}} Chapiters</h1>
		</div>
	</div>

	<div class="row">
		<div class="col-md-4 text-justify">
			{{resource.title}}
			{{resource.facebook}}
			{{resource.twitter}}
			{{resource.description}}
<!-- TEST LINK -->
			<h2><a href="https://www.glaad.org/" target="_blank">GLAAD</a></h2>
			<h3><img src="/assets/img/FB-fLogo-Blue.png" alt="Fackbook Logo"/> Facebook <img src="/assets/img/TwitterLogo.png" alt="Fackbook Logo"/> Twitter <span class="social social-twitter"></span></h3>
			<p class="showMore">
				GLAAD (formerly the Gay & Lesbian Alliance Against Defamation) is a U.S. non-governmental media <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
			</p>

			<p class="moreInfo">
				GLAAD (formerly the Gay & Lesbian Alliance Against Defamation) is a U.S. non-governmental media monitoring organization founded by LGBT people in the media. Before March 2013, the name "GLAAD" had been an acronym for "Gay & Lesbian Alliance Against Defamation", but became the primary name due to its inclusiveness of bisexual and transgender issues. Its stated mission, in part, is to "[amplify] the voice of the LGBT community by empowering real people to share their stories, holding the media accountable for the words and images they present, and helping grassroots organizations communicate effectively."
			</p>
		</div>

		<div class="col-md-4">
			{{resource.room}}
		</div>

		<div class="col-md-4">
			{{resource.room}}
		</div>
	</div>


	</div>
</div>