<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1 class="text-center">Chapiters</h1>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12 text-justify">
			<div id="resources">
				<ul>
				{{#each resourceThis}}
					<li>
					<h2><a href="{{this.link}}" target="_blank">{{this.title}}</a></h2>
					<h3>
						{{#if facebook}}
					<a href ="{{this.facebook}}" target="_blank"><img src="/assets/img/FB-fLogo-Blue.png" alt="Fackbook Logo"/> Facebook</a>
						{{/if}}
						{{#if twitter}}
					<a href ="{{this.twitter}}" target="_blank"><img src="/assets/img/TwitterLogo.png" alt="Twitter Logo"/> Twitter</a>
						{{/if}}
						{{#if other}}
					<a href ="{{this.other}}" target="_blank"><img src = "/assets/img/links-icon-10.png" alt = "Other Links"> Other Link</a>
						{{/if}}
					</h3>
					<p>
						{{this.description}}
					</p>
					</li>
				{{/each}}
				</ul>
			</div><!--/resources-->
		</div>
	</div>
</div>