<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1>Chapiters</h1>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6 text-justify">
            <ul>
            {{#each resourceThis}}
                <h2><a href="{{this.link}}" target="_blank">{{this.title}}</a></h2>
                <h3><a href ="{{this.facebook}}" target="_blank"><img src="/assets/img/FB-fLogo-Blue.png" alt="Fackbook Logo"/></a>Facebook <a href ="{{this.twitter}}" target="_blank"><img src="/assets/img/TwitterLogo.png" alt="Twitter Logo"/></a> Twitter <span class="social social-twitter"></span><a href ="{{this.other}}" target="_blank"><img src = "/assets/img/links-icon-10.png" alt = "Other Links"></a>Other Link</h3>
                <p>
                {{this.description}}
                </p>
                <br>
            {{/each}}
            </ul>
	</div>


	</div>
</div>